SUPABASE_URL=
SUPABASE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_OAUTH_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_OAUTH_SECRET=
# Sign in with two accounts and set their IDs here
GOOGLE_ACCOUNT_ID=
OUTLOOK_ACCOUNT_ID=
