GOOGLE_CLIENT_ID=
GOOGLE_OAUTH_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_OAUTH_SECRET=
# provider_token and provider_refresh_token from Supabase session
GOOGLE_AUTH_TOKEN=
GOOGLE_REFRESH_TOKEN=
MICROSOFT_AUTH_TOKEN=
MICROSOFT_REFRESH_TOKEN=
